button{
    background-color: deepskyblue;
    }
  body{
    background-image:url(./happy.jpg);
   background-repeat: no-repeat;
    background-size: 100% 170%;
    border-bottom-left-radius: 2px
  
  }
  
  body{
    color:white;
  }
